{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>this is sign up page</h1>
{% if messages %}
{% for m in messages %}
<small>{{m}}</small>
{% endfor %}
{% endif %}

<form method="post" action="" style="width: 50%; margin: auto;" novalidate>
    {% csrf_token %}
    <!-- {{form|crispy}} -->
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags}}
    
    {% endfor %}
    <br>
    <small>Already have an account? <a href="{% url 'signIn' %}">SignIn</a></small>
    <br>
    <button type="submit" class="btn btn-outline-danger mt-3">submit</button>
</form>
{% endblock %}